.title {
  font-size: 20px;
  color: beige;
  position: absolute;
  top: 10px;
  padding-left: 10px;
}

.articlesImages {
  width: 100%;
}

.ArticleText {
  padding: 35px 40px 40px;
  text-align: justify;

}

.btnReadMore {
  width: 20%;
  margin: auto;
}

.checked {
  color: orange;
}