h1 {
  Width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#logForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 55px;
}

p {
  margin-bottom: 5px;
}

.articlesContainer {
  margin-bottom: 50px;
}

.title {
  font-size: 20px;
  color: beige;
  position: absolute;
  top: 10px;
  padding-left: 10px;
}

.articlesImages {
  width: 100%;
}

.ArticleText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 35px;
  text-align: justify;
}

.collapseReadMoreButton {
  font-size: 12px;
  width: 80px;
  margin-left: 40px;
}


.checked {
  color: orange;
}

.commentAndRatingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-comment {
  padding-right: 3px;
}